{erl_opts, [debug_info]}.
{deps, [%% {erlkaf, "~> 1.1.7"}, use git dep until 1.1.7 or 1.2.0 is released
        {erlkaf, {git, "https://github.com/silviucpp/erlkaf", {branch, "master"}}},
        {opencensus, "~> 0.9.2"}]}.

{shell, [{apps, [opencensus_erlkaf]},
         {config, "config/sys.config"}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]}]}]}.
