[{erlkaf,
  [{global_client_options, [{bootstrap_servers, "localhost:9092"},
                            {client_id, <<"opencensus_erlkaf">>},
                            {delivery_report_only_error, true},
                            {delivery_report_callback, opencensus_erlkaf},
                            {statistics_interval_ms, 5000},
                            {stats_callback, opencensus_erlkaf}]},
   {clients, [{client_producer_id, [{type, producer},
                                    {topics, [{"topic-1", []}]}]},
              {client_consumer_id, [{type, consumer},
                                    {group_id, <<"client_consumer_group">>},
                                    {callback_module, oc_erlkaf_test_consumer},
                                    {topics, ["topic-1"]}]}]}]}
].
